.nav {
  background-color: #B4C0D3;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: black;
}

.nav-list li:not(:first-child) {
  margin-left: 20px; /* Add spacing between items except the first one */
}
